body {
    margin: 0;
    padding: 0;
}

#item1 { grid-area: first; }
#item2 { grid-area: second; }
#item3 { grid-area: third; }
#item4 { grid-area: last; }

.grid-container {
    display: grid;
    grid-template-areas:
    'first second'
    'third last';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    height: calc(100vh - 20px);
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

/* Loader styles */
.loading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* To hide content during loading */
.loading {
    background-color: rgba(255, 255, 255, 0.5);
    color: transparent;
}
